 <table class="table table-borderless">
    コメント件数：<%= post.post_comments.count %>
    <% post.post_comments.each do |post_comment| %>
      <tr>
        <td><%= post_comment.user.name %></td>
        <td><%= post_comment.comment %></td>
        <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
        <% if post_comment.user == current_user || admin_signed_in? %>
          <td>
            <%= link_to "削除",  post_post_comment_path(post_id: post.id, id: post_comment.id ), remote: true, method: :delete, class: "btn btn-delete btn-sm" %>
          </div>
        <% end %>
      </tr>
    <% end %>
  </table>