
<div class="row">
  <div class="col-md-12 my-2">
    <h4 class="my-2">投稿一覧</h4>
      <table class="table my-5">
        <thead>
          <tr>
            <th>image</th>
            <th>place</th>
            <th>date</th>
            <th>name</th>
            <th>is_deleted</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
          <tbody>
             <tr>
                <td style="width: 20%">
                  <%= attachment_image_tag post, :image, fallback: "no_image.jpg",  size: "100x100" %>
                </td>
                <td style="width: 20%"><%= post.place %></td>
                <td style="width: 20%"><%= post.created_at.strftime('%Y/%m/%d') %></td>
                <td style="width: 20%"><%= post.user.name %></td>
                <td style="width: 20%"><%= post.user.is_deleted %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>

<div class="row my-3">
  <div class="col-4 col-md-4 col-lg-5"></div>
  <div class="col-4 col-md-4"><%= paginate @posts %></div>
</div>
