<div class="row">
  <div class="col-md-5 offset-1 py-5">
    <div class="mb-5"><%= attachment_image_tag @post, :image, class: "img-fluid rounded align-self-center", fallback: "no_image.jpg" %></div>
  </div>
    <div class="col-md-5 offset-1 py-5">
      <div class="row">
        <div class="col-10">
          <table class="table">
            <tr>
              <td style="width: 30%" >名前</td>
              <td style="width: 70%"><%= link_to @post.user.name, admin_user_path(@post.user) %></td>
            </tr>
            <tr></tr>
            <tr>
              <td style="width: 30%">カテゴリー</td>
              <td style="width: 70%"><%= @post.category.name %></td>
            </tr>
            <tr>
              <td style="width: 30%">place名</td>
              <td style="width: 70%"><%= @post.place %></td>
            </tr>
            <tr>
              <td style="width: 30%">住所</td>
              <td style="width: 70%"><%= @post.address %></td>
            </tr>
            <tr>
              <td style="width: 30%">説明</td>
              <td style="width: 70%"><p class="text-break"> <%= @post.introduction %></td>
            </tr>
            <tr>
              <td style="width: 30%">大きさ</td>
              <td style="width: 70%"><%= @post.dog_size %>まで利用可能</td>
            </tr>
            <tr>
              <td style="width: 30%">投稿日時</td>
              <td style="width: 70%"><%= @post.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td style="width: 40%"></td>
              <td style="width: 60%"><%= link_to "投稿削除", admin_post_path(@post), method: :delete,class: "btn-delete", data: { confirm: "本当に投稿を削除しますか？" } %></td>
            </tr>
          </table>

          <div class="comment_index">
            <%= render 'user/post_comments/comment_index', post: @post %>
          </div>

           
          <div class="row">
             <div class="col-md-4">
              通報数 : <%= @post.reports.count %>
            </div>
          </div>   
            
          
          <div class="row">
            <div class="col-md-3">
             <% @post.reports.last(10).each do |report| %>
               <%= report.user.name %>
             <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>