<div class="row my-3 ">
  <div class="col-lg-4 offset-lg-1">
    <h1>User一覧</h1>
  </div>
  <div class="col-lg-3 offset-lg-4">
    <%= form_with(url: search_users_path,method: :get, local: true, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "userが飼っている犬種を入力", class: "search-input form-control" %>
      <%= form.select :dog_size, Dog.dog_sizes.map {|k, v| [k, v]}, {include_blank: 'sizeすべて'} %>
      <%= form.submit "検索", class: "btn search-btn btn-secondary btn-sm" %>
    <% end %>
  </div>
</div>

<div class="row">
    <div class="col-md-8 offset-1">
      <table class="table table-borderless table-hover">
        <tbody>
          <% @users.each do |user| %>
              <tr>
                <td style="width: 40%">
                  <%= link_to user_path(user) do %>
                    <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "100x100", class: "rounded-circle" %>
                  <% end %>
                </td>
                <td style="width: 30%">
                  <%= user.name %>
                </td>
                <td style="width: 30%">
                  投稿数 <%= user.posts.count %>
                </td>
                <td></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<div class="row">
  <div class="col-2 col-md-4 col-lg-5"></div>
  <div class="col-8 col-md-4 my-3"><%= paginate @users %></div>
</div>