
<div class="row">
  <div class="col-md-10 col-lg-3 offset-md-1 my-5">
    <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "300x300", class: "rounded-circle" %>
      <% if @user == current_user %>
        <div class="row mt-5">
          <div class="col-md-5 col-lg-5 ml-lg-5 my-4">
            <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-edit"></i>
            <% end %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-5 col-lg-5 ml-lg-5 mb-4">
            <%= link_to dog_path(@dogs), class: "btn btn-outline-info btn-block" do %>
              <i class="fas fa-paw"></i>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
  <div class="col-md-8 col-lg-6 offset-md-1 my-5 pt-lg-3">
    <div class="row mb-4">
          <div class="col-md-3">名前</div>
          <div class="col-md-3"><%= @user.name %></div>

          <!--userが本人だったら表示する-->
        <% if @user.id == current_user.id %>
          <div class="col-md-3"><%= @user.email %></div>
        <% end %>

        <% if @user != current_user %>
          <% if current_user.following?(@user) %>
              <div class="col-md-3"><%= link_to "フォロー解除", user_relationships_path(user_id: @user.id), method: :delete, class: "btn-create btn-sm" %></div>
          <% else %>
              <div class="col-md-3"><%= link_to "フォローする", user_relationships_path(user_id: @user.id), method: :post, class: "btn-create btn-sm" %></div>
          <% end %>
        <% end %>
    </div>
    <div class="row mb-4">
      <div class="col-md-3">フォロー数</div>
      <div class="col-md-3"><%= link_to @user.followings.count, user_followings_path(user_id: @user.id) %></div>
      <div class="col-md-3">フォロワー数</div>
      <div class="col-md-3"><%= link_to @user.followers.count, user_followers_path(user_id: @user.id) %></div>
    </div>
    <div class="row">
      <% @dogs.each do |dog| %>
        <div class="col-md-3 mb-2">ワンちゃん名</div>
        <div class="col-md-3 mb-2"><%= dog.name %>ちゃん</div>
        <div class="col-md-4 mb-2"><%= dog.dog_type %></div>
        <div class="col-md-2 mb-2"><%= dog.dog_size %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1 col-md-1 my-2">
    <h4 class="my-2">投稿一覧</h4>
      <table class="table my-5">
        <thead class="user-post-thead">
          <tr>
            <th></th>
            <th>place</th>
            <th>住所</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
          <tbody>
             <tr>
                <td><%= link_to post_path(post) do %>
                      <%= attachment_image_tag post, :image, fallback: "no_image.jpg",  size: "100x100", class: "post-image" %>
                    <% end %>
                </td>
                <td><%= link_to post.place, post_path(post) %></td>
                <td><%= post.address %></td>
                <td></td>
                <td></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>

<div class="row my-3">
  <div class="col-4 col-md-4 col-lg-5"></div>
  <div class="col-4 col-md-4"><%= paginate @posts %></div>
</div>
