  <div class="row">
    <div class="col-lg-3 offset-lg-9 mt-3 mb-2">
      <%= form_with(url: search_posts_path,method: :get, local: true, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "住所、place名を入力", class: "search-input form-control" %>
        <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "すべて", required: "required" %>
        <%= form.select :dog_size, Post.dog_sizes.map {|k, v| [k, v]}, {} %>
        <%= form.submit "検索", class: "btn btn-secondary btn-sm" %>
      <% end %>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-5">
    <%= render 'user/posts/post_index', posts: @posts %>
  </div>

  <div class="row my-3">
    <div class="col-2 col-md-4 col-lg-5"></div>
    <div class="col-8 col-md-4"><%= paginate @posts %></div>
  </div>




