<div class="row">
  <div class="col-md-5 offset-1 py-5">
    <div class="mb-5"><%= attachment_image_tag @post, :image, class: "img-fluid rounded align-self-center", fallback: "no_image.jpg" %></div>
    <div id=map></div>
  </div>
    <div class="col-md-5 offset-1 py-5">
      <div class="row">
        <div class="col-10">
          <table class="table">
            <tr>
              <td style="width: 30%" >名前</td>
              <td style="width: 70%"><%= link_to @post.user.name, user_path(@user) %></td>
            </tr>
            <tr></tr>
            <tr>
              <td style="width: 30%">大きさ</td>
              <td style="width: 70%"><%= @post.dog_size %>まで利用可能</td>
            </tr>
            <tr>
              <td style="width: 30%">place名</td>
              <td style="width: 70%"><%= @post.place %></td>
            </tr>
            <tr>
              <td style="width: 30%">カテゴリー</td>
              <td style="width: 70%"><%= @post.category.name %></td>
            </tr>
            <tr>
              <td style="width: 30%">住所</td>
              <td style="width: 70%"><%= @post.address %></td>
            </tr>
            <tr>
              <td style="width: 30%">説明</td>
              <td style="width: 70%"><p class="text-break"> <%= @post.introduction %></td>
            </tr>
            <tr>
              <td style="width: 30%">投稿日時</td>
              <td style="width: 70%"><%= @post.created_at.strftime('%Y/%m/%d') %></td>
            </tr>

            <% if @user.id == current_user.id %>
              <tr>
                <td style="width: 40%"><%= link_to "投稿編集", edit_post_path(@post), class: "btn btn-success" %></td>
                <td style="width: 60%"><%= link_to "投稿削除", post_path(@post), method: :delete,class: "btn btn-danger", data: { confirm: "本当に投稿を削除しますか？" } %></td>
              </tr>
            <% end %>
          </table>

          <div id="favorite-btn<%= @post.id %>">
            <%= render 'user/favorites/favorite_btn', post: @post %>
          </div>

          <div class="comment_index">
            <%= render 'user/post_comments/comment_index', post: @post %>
          </div>

          <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
            <div class="form-group">
                <%= f.text_area :comment, rows:'3',placeholder: "コメントをここに", class: "form-control text_area" %>
            </div>
            <div class="form-group">
              <%= f.submit "コメントする", class: "btn btn-info btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<script>
function initMap(){
  let geocoder = new google.maps.Geocoder()
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 15
  });
  let address = '<%= @post.address %>';
  geocoder.geocode( { 'address': address }, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['G_KEY'] %>&callback=initMap" async defer></script>