<% visitor = notification.visitor %>
<% visited = notification.visited %>
  <div class="col-md-6 my-2">
    <div class="form-inline">
      <span>
        <%= link_to user_path(visitor) do %>
          <%= attachment_image_tag visitor, :profile_image, fallback: "no_image.jpg", size: "80x80", class: "rounded-circle" %>
            <strong><%= visitor.name %></strong>
          <%= 'さんが' %>
        <% end %>
      </span>
    </div>
  </div>
      <% case notification.action %>
      <% when 'follow' then %>
        <div class="col-md-6"><%= "あなたをフォローしました" %></div>
      <% when 'like' then %>
        <div class="col-md-6"><%= link_to 'あなたの投稿', notification.post, style: "font-weight: bold;" %></div>
        <div class="col-md-6"><%= "にいいねしました" %></div>
      <% when 'comment' then %>
        <% if notification.post.user_id == visited.id %>
          <div class="col-md-6"><%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %></div>
        <% else %>
          <span>
            <div class="col-md-6">
              <%= link_to post_path(notification.post) do %>
                <%= attachment_image_tag visitor, :profile_image, fallback: "no_image.jpg", size: "80x80", class: "rounded-circle" %>
                <strong><%= notification.post.user.name + 'さんの投稿' %></strong>
              <% end %>
            </div> 
        <% end %> 
            <div class="col-md-6 mt-1"><%= "にコメントしました" %></div>
          </span>
        
        <div class="col-md-6">
          <p class="text-muted.mb-0">
            <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
          </p>
        </div>  
      <% end %>
      <div class="col-md-6">
        <div class="small.text-muted.text-right">
          <%= time_ago_in_words(notification.created_at).upcase %>
        </div>
      </div>  
      <hr>