<!DOCTYPE html>
<html>
  <head>
    <title>Nodognolife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    
    <%= yield %>
    
    
    <footer class='d-flex align-items-center justify-content-center bg-dark'>
      <p class="footer-text">© All rights reserved by HappyDog.Inc.</p>
    </footer>
  </body>
</html>
