<!DOCTYPE html>
<html>
  <head>
    <title>NoDogNoLife!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
    </style>
  </head>

  <body>
     <%= render 'layouts/header' %>

    <div class="container-fluid">
      <% if notice != nil %>
        <p class="alert alert-success" role="alert"><%= notice %></p>
      <% end %>
        <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
