<!DOCTYPE html>
<html>
  <head>
    <title>NoDogNoLife!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <div class=".container-fluid">
      <%= yield %>
    </div>  
      <footer>
        <div class=".container-fluid bg-dark">
          <div class="row">
            <div class="mx-auto">
              <div class="mx-auto pt-2 d-flex align-items-center">
                <p class="footer-text">© All rights reserved by HappyDog.Inc.</p>
              </div>
            </div>
          </div>
        </div>  
      </footer>
  </body>
</html>
